.blog{
    width: 300px;
    height: 300px;
    margin: 50px;
    border-radius: 10%;
    border: white solid;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.tit{
    font-family: "Montserrat Alternates", sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.boton-fijo {
    position:fixed;
    bottom: 10px;
    left: 10px;
    border-radius: 50%;
    
  }
  .boton-fijo:hover{
  border-radius: 50%;
  background-color: white;
  
  }
  
  .volver{
  border-radius: 50%;
  height: 50px;
  
  }


  @media (max-width: 767px) {
   
    
    .blog {
      width: 99%; 
      margin: 5px;
    }
    .navbar-nav .nav-link {
        margin: 5px 0;
      }
    }