.carousel-item {
  position: relative;
  transform: translate(25%);
  
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(108%);
}

h1.menu {
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
 
}

h2.sst {
  font-family: "Montserrat Alternates", sans-serif;
  text-decoration: underline;
  margin: 50px;
}
h3.subt {
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  
}
p.propaganda {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 38px;
  text-align: center;
  
  margin: 50px;
}

p.descripcion{
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 20px;
 
  margin: 50px;
  
}

.d-block{
  border-radius: 5%;
  border: white solid;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.inspro{
  width:100px ;
  height: 50px;
  transform: translate(-10%);
}





.boton-fijo {
  position:fixed;
  bottom: 10px;
  left: 10px;
  border-radius: 50%;
  
}
.boton-fijo:hover{
border-radius: 50%;
background-color: white;

}

.volver{
border-radius: 50%;
height: 50px;

}