


h1 {
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  
}
.parrafo {
  text-align:center;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 25px;
  border: white solid;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  
}

.adm{
 
    display: flex;
    justify-content: space-between;
    font-family: "Montserrat Alternates", sans-serif;
  
}
.flor{height: 700px;
width: 700px;
transform: translate(-20%, 10%);
border-radius: 5px;
border: white solid;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/* styles.css */

/* Ajustes para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }
  

  .navbar-nav .nav-link {
    margin: 10px 0;
  }

  .titulo {
    font-size: 2rem;
  }

  .adm {
    flex-direction: column;
    align-items: center;
  }

  .flor {
    width: 100%; /* O ajusta el ancho deseado */
    height: 100%;
    transform: translate(0%, -2%);
    
  }

  .social {
    flex-direction: column;
  }
}

/* Ajustes para tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  .navbar-nav .nav-link {
    margin: 10px 0;
  }

  .titulo {
    font-size: 2rem;
  }

  .adm {
    flex-direction: column;
    align-items: center;
  }

  .flor {
    width: 100%; 
    height: 100%;
    transform: translate(0%, -2%);
    
  }

  .social {
    flex-direction: column;
  }
  
}

@media (min-width: 1024px) and (max-width: 1700px) {
  
  .titulo {
    font-size: 2rem;
  }

  .adm {
    display: flex;
    justify-content: space-between;
  }

  .flor {
    height: 700px;
width: 700px;
transform: translate(-10%, 10%);
    
    
  }

  .social {
    flex-direction: column;
  }
 
}
