body {
  background: linear-gradient(to left, #f2c2ff, #e063fe, #cc33ff, #b400ff);
  margin: 0;
}


    
    .nav-link, .nav-item, .nav-link active{
        
            display: flex;
            justify-content: center; /* Centra los elementos horizontalmente */
            align-items: center; /* Centra los elementos verticalmente */
            padding: 10px;
            
          
    }

header {
  padding: 20px;
}

.logo {
  top: 0;
  left: 0;
  height: 100px;
  width: 100px;
}
footer {
  margin: 0;
  padding: 0;
}

.navbar.navbar-expand-lg, .navbar-dark,.bg-dark{
    background-image: url(../images/flores.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer {
   
    padding: 20px;
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .social a {
    margin: 0 10px;
    color: #333;
  }
  
  .volver{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }